.MainContainer {
    background: #7c72ff;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar {
    display: none;
}

.App {
    /* background: red; */
    width: 70%;
    height: 80vh;
    border-radius: 10px;
    display: flex;
    /* background: #6C63FF; */
    background: #eee !important;
    box-shadow: 37px 37px 74px #5c54d9,
        -37px -37px 74px #7c72ff;
}


@media only screen and (max-width: 600px) {
    .App {
        border-radius: 0px !important;
        width: 100% !important;
        height: 100vh !important;
    }
}