.MainContainer {
    background: #7c72ff;
    /*   4e4e4e */
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar {
    display: none;
}

.App {
    /* background: red; */
    width: 70%;
    height: 80vh;
    border-radius: 10px;
    display: flex;
    /* background: #6C63FF; */
    background: #eee !important;
    box-shadow: 37px 37px 74px #5c54d9,
        -37px -37px 74px #7c72ff;
}


@media only screen and (max-width: 600px) {
    .App {
        border-radius: 0px !important;
        width: 100% !important;
        height: 100vh !important;
    }
}

/* gray palletes */
/* #9e9e9d */
/* #909090 */
/* #b6b6b6 */
/* #c3c3c3 */
/* #999998 */
/* ?scroll */
/* #bab3ae */
/* #646463 */
/* ?place holder color */
/* #b6b6b6 */
/* #757575 */
/* #868686 */
/* #e3e3e3 */
/* e1e1e1 */
/* !chat bg */
/* #ebebeb */
/* #ededed */
/* gray palletes */

/* chat bubble ui */
/* https://codepen.io/rossmartin/details/XJmpQr */
/* https://codepen.io/ainalem/pen/xxwxxRE */
/*!temp */
/* * whatsapp theme */
/* https://codepen.io/FilipRastovic/details/pXgqKK */
/* TODO ios loading */
/* https://codepen.io/michaellee/pen/jknyw */
/* https://codepen.io/tanjalehner/full/bgzpQx */
/* ? chat anim TODO done*/
/* https://codepen.io/mustafaquilon/details/rWQqrP */

/* colors from meditate app */
/* bg */
/* #e8e5f6 */
/* text */
/* #9584d4 */
/* #9685d4 */
/* headline text */
/* #6f56d3 */

/* profile card */
/* https://codepen.io/DanielRamos/pen/EVrmor */
/* https://codepen.io/JavaScriptJunkie/full/jvRGZy */

/* 
// import CloudUploadOutlinedIcon from "@material-ui/icons/CloudUploadOutlined";
// import FavoriteBorderOutlinedIcon from "@material-ui/icons/FavoriteBorderOutlined";
// import FavoriteOutlinedIcon from "@material-ui/icons/FavoriteOutlined";
// import SmsOutlinedIcon from "@material-ui/icons/SmsOutlined";
// import ShareOutlinedIcon from "@material-ui/icons/ShareOutlined";
// import MoreVertOutlinedIcon from "@material-ui/icons/MoreVertOutlined";
// import BookmarkBorderOutlinedIcon from "@material-ui/icons/BookmarkBorderOutlined";
// import TurnedInOutlinedIcon from "@material-ui/icons/TurnedInOutlined";
*/